body {
  background-image: url("/static/img/sierra2.jpg");
  background-size: cover; }

.card .card-content {
  padding: 0 !important; }

.collection {
  border: none !important; }
  .collection a.collection-item {
    color: #fff !important; }
  .collection .collection-item {
    background-color: transparent !important; }

.topsites .card,
.bookmarks .card,
.history .card,
.downloads .card,
.system .card {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden; }

/* Style default scrollbar */
::-webkit-scrollbar {
  width: 5px;
  /* adjust/remove scrollbar space */ }

/* Style position indicator */
::-webkit-scrollbar-thumb {
  background: #fff; }
