.card .card-content {
  padding: 0 !important; }

.collection {
  border: none !important; }
  .collection a.collection-item {
    color: #fff !important; }
  .collection .collection-item {
    background-color: transparent !important; }

.bookmarks .card,
.history .card,
.downloads .card,
.system .card {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden; }
