@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../lib/weather-icons.css';
@import '../lib/weather-icons-wind.css';

.browsing {
  top: 5rem;
  width: 50rem;
  height: 50rem;
}

.browsing--visible {
  left: 5rem;
  transition: left 0.2s ease-in;
}

.browsing--hidden {
  left: -50rem;
  transition: left 0.2s ease-in;
}

.settings {
  top: 5rem;
  max-width: 50rem;
  max-height: 50rem;
}

.settings--visible {
  right: 5rem;
  transition: right 0.2s ease-in;
}

.settings--hidden {
  right: -50rem;
  transition: right 0.2s ease-in;
}

.weather {
  bottom: 5rem;
  max-width: 50rem;
  max-height: 50rem;
}

.weather--visible {
  right: 5rem;
  transition: right 0.2s ease-in;
}

.weather--hidden {
  right: -50rem;
  transition: right 0.2s ease-in;
}

.max-content-rows {
  grid-template-rows: max-content;
}

.max-content-rows-2 {
  grid-template-rows: max-content auto;
}

.max-content-rows-3 {
  grid-template-rows: max-content auto max-content;
}

.max-content-columns-3 {
  grid-template-columns: max-content auto max-content;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: #4299e1;
}

::-webkit-scrollbar-thumb:hover {
  background: #4299e1;
}
