.tabs {
	overflow-x: hidden !important;
}

.card-panel {
	padding: 10px !important;
}

.card {
	.card-content {
		padding: 0 !important;
	}
}

.collection {
	border: none !important;
	.collection-item {
		background-color: transparent !important;
		&.avatar {
			padding-left: 20px !important;
		}
	}
}

.topsites,
.bookmarks,
.history,
.downloads,
.apps,
.system {
	.card {
		max-height: 280px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	div {
		&:first-child {
			span {
				&:first-child {
					a {
						color: #26a69a !important;
					}
				}
			}
		}
	}
}

.apps {
	.card {
		.card-content {
			margin-top: 20px !important;
		}
	}
}

.components {
	margin-bottom: 0px !important;
	.component {
		height: 70px;
		line-height: 70px;
		position: relative;
		.usage {
			position: absolute;
			left: 0;
			right: 0;
		}
	}
}

.launch-app {
	cursor: pointer;
}

.ui-progressbar-value {
	margin-top: 0px !important;
}

.ui-widget-content {
	background-color: transparent !important;
	border: none !important;
	height: 100% !important;
}

.ui-widget-header {
	background-color: #e0e0e0 !important;
	border: none !important;
}

.ui-corner-all,
.ui-corner-right,
.ui-corner-left {
	border-radius: 0 !important;
}

.obliterate,
.download-event {
	cursor: pointer;
}

.download-event {
	font-size: 1rem;
}

/* Style default scrollbar */
::-webkit-scrollbar {
    width: 5px;  /* adjust/remove scrollbar space */
}
/* Style position indicator */
::-webkit-scrollbar-thumb {
    background: #424242;
}