.tabs {
	overflow-x: hidden !important;
}

.card-panel {
	padding: 10px !important;
}

.card {
	.card-content {
		padding: 0 !important;
	}
}

.collection {
	border: none !important;
	.collection-item {
		background-color: transparent !important;
		&.avatar {
			padding-left: 20px !important;
		}
	}
}

.topsites,
.bookmarks,
.history,
.downloads,
.system {
	.card {
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	div {
		&:first-child {
			span {
				&:first-child {
					a {
						color: #26a69a !important;
					}
				}
			}
		}
	}
}

.ui-progressbar-value {
	margin-top: 3px !important;
}

.ui-widget-content {
	background-color: transparent !important;
	border: none !important;
}

.ui-widget-header {
	background-color: #ccc !important;
	border: none !important;
}

.ui-corner-all,
.ui-corner-right,
.ui-corner-left {
	border-radius: 0 !important;
}

.obliterate {
	cursor: pointer;
}

/* Style default scrollbar */
::-webkit-scrollbar {
    width: 5px;  /* adjust/remove scrollbar space */
}
/* Style position indicator */
::-webkit-scrollbar-thumb {
    background: #424242;
}