.card {
	.card-content {
		padding: 0 !important;
	}
}

.collection {
	a {
		&.collection-item {
			color: #fff !important;
		}
	}
	border: none !important;
	.collection-item {
		background-color: transparent !important;
	}
}

.bookmarks,
.history,
.downloads,
.system {
	.card {
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}